@font-face {
  font-family: "Iansui-Regular";
  src: url("asset/font/iansui/Iansui-Regular.woff2") format("woff2"),
    url("asset/font/iansui/Iansui-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Iansui-Regular", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5e7e4; /* Updated background color */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  width: 90%;
  height: 80vh;
  background-color: #ffffff; /* Main content background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
  width: 15%;
  background-color: #3b3b58; /* Updated sidebar color */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  overflow-y: auto;
}

.list-header {
  margin-bottom: 20px;
}

.list-container {
  flex-grow: 1;
  overflow-y: auto;
}

.list-container ul {
  list-style-type: none;
  padding-left: 0;
}

.list-container li {
  padding: 10px;
  cursor: pointer;
  color: white;
}

.list-container li:hover {
  background-color: #ff5e5b; /* Accent color for hover effect */
  border-radius: 5px;
}

.list-container li.editable {
  background-color: #ff5e5b; /* Accent color for editable state */
  border-radius: 5px;
}

.add-list {
  margin-top: auto;
}

.add-list button {
  font-family: "Iansui-Regular", monospace;
  width: 100%;
  padding: 10px;
  background-color: #ffd300; /* Accent color for add button */
  color: #3b3b58;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-list button:hover {
  background-color: #e6be00; /* Slightly darker on hover */
}

.main-content {
  width: 60%;
  padding: 20px;
  background-color: #ffffff; /* Secondary background color */
}

.right-sidebar {
  width: 25%;
  padding: 20px;
  background-color: #e6e6e6;
}

.context-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  z-index: 1000;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.context-menu li {
  padding: 10px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #eee;
}

.main-content .list-header {
  margin-bottom: 20px;
  text-align: center;
}

.main-content .list-header h2 {
  font-size: 24px;
  color: #333333; /* Primary text color */
}

.task-container {
  flex-grow: 1;
  overflow-y: auto;
}

.task-container ul {
  list-style-type: none;
  padding-left: 0;
}

.task-container li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.task-container li:hover {
  background-color: #f0f0f0;
}

.add-task {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #ffffff;
  /* border-top: 1px solid #ddd; */
}

.add-task input {
  font-family: "Iansui-Regular", monospace;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.add-task input::placeholder {
  color: #888888;
}

.add-task input:focus {
  outline: none;
  border-color: #ff5e5b; /* Accent color for focused input */
}

.task-actions {
  float: right;
  align-items: center;
  height: 100%;
}

.task-actions span {
  margin-left: 10px;
  cursor: pointer;
}

.task-name {
  width: calc(100% - 60px);
  vertical-align: middle;
  line-height: 1.5em;
  padding: 8px 0;
}
